# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

tiny-native
./target
./v8
./web/tiny-native.js
./web/tiny-native.js.wasm
./web/tiny-native.js.wat
./graal_dumps
